# exculde all files
# *
# include all directories
# !*/
# include specific extension files
# !*.h
# !*.c
# !*.sh
# !*.txt
# include specific files
# !.vimsession/*
# !Makefile

.DS_Store
*.o
*.out
*.swp
