# reference:
# https://git-scm.com/docs/gitignore

##
# old setting
# exclude all files
# *
#
# include all directories
# !*/
#
# include specific extension files
# !*.h
# !*.c
# !*.sh
# !*.txt
#
# include specific files
# !.vimsession/*
# !Makefile
##

# exclude specific extension
*.swp
*.swo
*.[ao]
*.out

# exclude specific files
.DS_Store
tags
.tmp
.temp
